<blockquote class="blockquote-reverse">
	<p><%= comment.body %></p>
	<footer><%= comment.commenter %></footer>
	<%= link_to raw('<i class="icon-remove icon-white"></i>'), article_comment_path(@article, comment), confirm: 'Are you sure?', method: :delete, :class => 'btn btn-danger' %>
</blockquote>